{% extends 'contracting/base.html' %}

{% block title %}Task List{% endblock %}

{% block content %}
    <h1>Task List</h1>
    <ul>
        {% for task in tasks %}
            <li>{{ task.name }}</li>
            <ul>
                {% for step in task.steps.all %}
                    <li>{{ step.name }} - Time: {{ step.time_estimate }} - Material:{{step.material_description}} : {{ step.material_estimate }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endblock %}
